	body {background-color: #5f55ec; text-align: center;}
   h1, h2 {
		color: #f7fdfc;
	}
   h1 {
      font-size: 1.5em;
   }
   h2 {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 1em;
   }
  